html {
    background-color: #EFEFEF;
    font-family: 'Encode Sans Semi Expanded', sans-serif, Arial;
    /*700, bold, 600 semibold, 500 regular */
    font-size: 24px;
}

#main-container {
    background-color: #E1E1E1;
   
}

header {
    display: flex;
}

#menu {
    background-color: green;
    flex-grow: 12;
    justify-content: end;
}

#menu__list {
    display: flex;
   
}

.menu__list__item {
    color: #808080;    
    
}

#brand-container {
    flex-grow: 4;
}

#title {
    color: #646FD6 ;
    font-weight: 600; /*semibold*/
    font-size: 1.2rem;
    
}

